@font-face{
  font-family: pokemon-solid;
  src: url(Pokemon-Solid.ttf);
}

body {
  margin: 0;
  font-family: pokemon-solid;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: pokemon-solid;
}

html {
  font-family: pokemon-solid;
}